<%- include('../partials/header.ejs') %>
  <div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2>Product List</h2>
      <!-- Add New Product -->
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
        Add Product
      </button>
    </div>

    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>SN</th>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Image</th>
          <th>Category</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%product.forEach((item, index)=> {%>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= item.id %>
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.description%>
            </td>
            <td>
              $ <%= item.price%>
            </td>
            <td>
              <%= item.stock%> Left
            </td>
            <td>
              <%= item.image_url%>
            </td>
            <td>
              <%= item.category%>
            </td>
            <td>
              <%= item.created_at%>
            </td>
            <td>
              <!-- Edit Button triggers modal -->
              <button class="btn btn-sm btn-warning editBtn" data-id="<%= item.id %>" data-name="<%= item.name %>"
                data-description="<%= item.description%>" data-price="<%= item.price %>" data-stock="<%= item.stock %>"
                data-image="<%= item.image_url %>" data-bs-toggle="modal"
                data-bs-target="#editProductModal">
                Edit
              </button>
              <!-- Delete Button triggers modal -->
              <form action="/product/delete/<%= item.id %>" method="POST" class="d-inline deleteForm">
                <button type="button" class="btn btn-sm btn-danger deleteBtn" data-id="<%= item.id %>"
                  data-name="<%= item.name %>">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Adding product modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="backdrop-filter: blur(10px)">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategoryModalLabel">Add New Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="productForm" action="/product" method="POST">
          <div class="modal-body">
            <div class="mb-3">
              <label for="name" class="form-label">Product Name</label>
              <input type="text" class="form-control" name="name" id="name" required />
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description</label>
              <textarea class="form-control" name="description" id="desc" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" name="price" id="price" required></input>
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="text" class="form-control" name="stock" id="stock" required></input>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <input type="text" class="form-control" name="image" id="image" required></input>
            </div>
            <div class="btn-group">
              <button class="btn btn-dark dropdown-toggle" id="categoryDropdown" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Select Category
              </button>
              <ul class="dropdown-menu">
                <% categories.forEach(category=> { %>
                  <li>
                    <a href="#" class="dropdown-item" data-value="<%= category.name %>">
                      <%= category.name %>
                    </a>
                  </li>
                  <% }); %>
              </ul>
            </div>
            <!-- Hidden input to submit role -->
            <input type="hidden" name="categoryName" id="selectedCategory" />
            <div class="modal-footer">
              <button id="saveProduct" type="submit" class="btn btn-success">
                Save Product
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- Edit Product Modal -->
  <div class="modal fade" id="editProductModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="editProductForm" method="POST">
          <div class="modal-header">
            <h5 class="modal-title">Edit Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="editProductId" name="id">
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" id="editName" name="name" class="form-control" required />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea id="editDescription" name="description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" id="editPrice" name="price" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="text" id="editStock" name="stock" class="form-control" required />
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Image URL</label>
              <input type="text" id="editImage" name="image" class="form-control" required />
            </div>
          </div>
          <div class="modal-footer">
            <button id="updatebtn" type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>

    <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <strong id="deleteUserName"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteBtn">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Populate edit modal
    document.querySelectorAll(".editBtn").forEach(btn => {
      btn.addEventListener("click", function () {
        const id = this.getAttribute("data-id");
        const name = this.getAttribute("data-name");
        const description = this.getAttribute("data-description");
        const price = this.getAttribute("data-price");
        const stock = this.getAttribute("data-stock");
        const image = this.getAttribute("data-image");

        document.getElementById("editProductId").value = id;
        document.getElementById("editName").value = name;
        document.getElementById("editDescription").value = description;
        document.getElementById("editPrice").value = price;
        document.getElementById("editStock").value = stock;
        document.getElementById("editImage").value = image;


        // Dynamically update action URL
        document.getElementById("editProductForm").action = "/product/edit/" + id;
      });
    });

    //deleting user from table
    let deleteForm = null;
    // When delete button clicked
    document.querySelectorAll(".deleteBtn").forEach(btn => {
      btn.addEventListener("click", function () {
        const userName = this.getAttribute("data-name");
        deleteForm = this.closest("form");
        document.getElementById("deleteUserName").textContent = userName;
        const deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));
        deleteModal.show();
      });
    });
    document.getElementById("confirmDeleteBtn").addEventListener("click", function () {
      if (deleteForm) {
        deleteForm.submit();
      }
    });

    document.querySelectorAll(".dropdown-item").forEach((item) => {
      item.addEventListener("click", function (e) {
        e.preventDefault();
        const categoryName = this.getAttribute("data-value");
        document.getElementById("selectedCategory").value = categoryName;
        document.getElementById("categoryDropdown").innerText = categoryName;
      });
    });
    document.getElementById("productForm").addEventListener("submit", function () {
      let btn = document.getElementById("saveProduct");
      btn.disabled = true; // disable to prevent double-click
      btn.innerHTML = `
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status"> Saving...</span>
    `;
      setTimeout(() => { }, 3000);
    });

    document.getElementById("editProductForm").addEventListener("submit", function () {
      let btn = document.getElementById("updatebtn");
      btn.disabled = true;
      btn.innerHTML = `
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status"> Updating...</span>
    `;
      setTimeout(() => { }, 2000);
    });

  </script>

  <%- include('../partials/fixedFooter.ejs') %>